{
"extends":"airbnb-base",
"env" :{
    "browser":true,
},
"rules":{
    "no-shadow": "off",
    "linebreak-style":0,
    "global-require":0,
    "eslint linebreak-style":[0,"error","windows"],
    "object-curly-newline": "off"
},
"parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}